<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data visualizer</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v3.js"></script>
    <script src="{% static 'script.js' %}"></script>
    {% block head_content %} {% endblock %}
</head>
<body>
    <div class="navbar">
        <div class="inline-block">
            <form action="acquire_data">

            <div class="item">
                <b>Reader plugin:</b>
                <select name="reader_plugin_id">
                    {% for readerPlugin in readerPlugins %}
                        {% if readerPlugin.id == request.session.reader_plugin_id %}
                            <option value="{{ readerPlugin.id }}" selected>
                                {{ readerPlugin.name }}
                            </option>
                        {% endif %}
                        {% if readerPlugin.id != request.session.reader_plugin_id %}
                            <option value="{{ readerPlugin.id }}">
                                {{ readerPlugin.name }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select><br>
            </div>
            <div class="item">
                <button type="submit">Load </button>
            </div>
        </form>
        </div>
        <div class="inline-block">
            <form action="view">
                <div class="item">
                    <b>View plugin:</b>
                    <select name="view_plugin_id">
                        {% for viewPlugin in viewPlugins %}
                            {% if viewPlugin.id == request.session.view_plug_id %}
                                <option value="{{ viewPlugin.id }}" selected>
                                    {{ viewPlugin.name }}
                                </option>
                            {% endif %}
                            {% if viewPlugin.id != request.session.view_plug_id %}
                                <option value="{{ viewPlugin.id }}">
                                    {{ viewPlugin.name }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select><br>
                </div>

                <div class="item">
                    <button type="submit">View </button>
                </div>
            </form>
        </div>
        &nbsp;&nbsp;
        <div class="inline-block">
            <form id="search_data" action="{% url 'search_data' %}" method="get">
                <div class="input-group">
                    Search:
                    <input type="text" id="search_param" name="search_param" class="form-control"
                               placeholder="Enter value..." value="{{ request.session.search_param }}">
                    <span class="input-group-btn">
                        <input type="submit" value="Search" class="btn btn-primary">
                    </span>
                </div>
            </form>
        </div>
        &nbsp;&nbsp;
        <div class="inline-block">
            <form id="filter_data" action="{% url 'filter_data' %}" method="get">
                <div class="input-group">
                    Filter:
                    <input type="text" id="filter_param" name="filter_param" class="form-control"
                               placeholder="Enter value..." value="{{ request.session.filter_param }}">
                    <span class="input-group-btn">
                        <input type="submit" value="Filter" class="btn btn-primary">
                    </span>
                </div>
            </form>
        </div>
        &nbsp;&nbsp;
        <div class="inline-block">
            <form action="reset">
                <div class="item">
                    Reset all:
                    <button type="submit">Reset</button>
                </div>
            </form>
        </div>
    </div>

    <div class="view-container">
        <div id="tree-view">
            {% block tree_view_content %}{% endblock %}
        </div>
        <div id="graph-container">
            <div id="graph-view">
                {% block graph_view_content %}{% endblock %}
                <div id="bird-view">
                    {% block bird_view_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="{% static 'style.css' %}"/>
</body>
</html>