{% extends "tree_view.html" %}

{% block graph_view_content %}
    <script>
        d3.select('#graph-view').append('svg').attr('width', '100vw').attr('height', '100vh');
        var zoom = d3.behavior
            .zoom()
            .on('zoom.zoom', function () {
                console.trace("zoom", d3.event.translate, d3.event.scale);
                svg.attr('transform',
                    'translate(' + d3.event.translate + ')'
                    + 'scale(' + d3.event.scale + ')');
            });
        var svg = d3
            .select('svg')
            .call(zoom).append('g');
        var links = {% autoescape off %}{{ mutable_graph_links }}{% endautoescape %};
        var persisted_links =
        {% autoescape off %}{{ persisted_graph_links }}{% endautoescape %}

        var bird_links = JSON.parse(JSON.stringify(persisted_links))
    </script>

    <script>
        {% autoescape off %}{{ graph_script }}{% endautoescape %}
        var main_force = display_graph(svg, links);
    </script>
{% endblock %}

{% block bird_view_content %}
    <script>
        var bird_svg = d3.select('#bird-view').append('svg').attr('width', 200).attr('height', 150).append('g');
        var bird_force = display_graph(bird_svg, bird_links);
        {% include "bird_view.js" %}
        main_force.on('end', function () {
            zoomFit(0.95, 500, zoom, svg);
            main_force.on('end', null);
        });
    </script>
{% endblock %}
