<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet" crossorigin="anonymous">
<style>
    .selected{
        color: orange;
    }
    .node {
        position: absolute;
        list-style: none;
        cursor: default;
    }
    .node span {
        margin-right: 3px;
    }

    .node .caret {
        font-size: 10px;
    }
</style>

{% extends "base.html" %}

{% block display_data_navigation %}
    <div>
        {% if display_plugins and data_loaded %}
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                {% for p in display_plugins.values %}
                    <a class="btn btn-primary"
                       href="{% url 'display_data' plugin_id=p.identifier %}">{{ p.name }}</a>
                {% endfor %}
            </div>
        {% else %}
            <h3>No reading plugins installed</h3>
        {% endif %}
    </div>
{% endblock %}

{% block tree_view_content %}
    <script>
        {% include "tree_view.js" %}
    </script>
    <script type="application/javascript">
        var tree;
        var ul;

        function toggleChildren(d) {
            if (d.children) {
                d._children = d.children;
                d.children = null;
            } else if (d._children) {
                d.children = d._children;
                d._children = null;
            }
        }

        function render(data, parent) {
            var nodes = tree.nodes(data),
                duration = 250;

            var nodeEls = ul.selectAll("li.node").data(nodes, function (d) {
                d.id = d.id || ++id;
                return d.id;
            });

            //entered nodes
            var entered = nodeEls.enter().append("li").classed("node", true)
                .style("top", parent.y + "px")
                .style("opacity", 0)
                .style("height", tree.nodeHeight() + "px")
                .on("click", function (d) {
                    toggleChildren(d);
                    console.log("D:", d);
                    render(data, d);
                })
                .on("mouseover", function () {
                    d3.select(this).classed("selected", true);
                })
                .on("mouseout", function () {
                    d3.selectAll(".selected").classed("selected", false);
                });

            //add arrows if it is a folder
            entered.append("span").attr("class", function (d) {
                var icon = d.children ? " glyphicon-chevron-down"
                    : d._children ? "glyphicon-chevron-right" : "";
                return "caret glyphicon " + icon;
            });
            //add icons for folder for file
            entered.append("span").attr("class", function (d) {
                var icon = d.children || d._children ? "glyphicon-folder-close"
                    : "glyphicon-file";
                return "glyphicon " + icon;
            });

            //add text
            entered.append("span").attr("class", "filename")
                .html(function (d) {
                    return d.name.length < 30 ? d.name : d.name.substr(0, 30) + "...";
                });

            //update caret direction
            nodeEls.select("span.caret").attr("class", function (d) {
                var icon = d.children ? " glyphicon-chevron-down"
                    : d._children ? "glyphicon-chevron-right" : "";
                return "caret glyphicon " + icon;
            });


            //update position with transition
            nodeEls.transition().duration(duration)
                .style("top", function (d) { return (d.y - tree.nodeHeight()) + "px";})
                .style("left", function (d) { return d.x + "px"; })
                .style("opacity", 1);
            nodeEls.exit().remove();
        }

        var data = {% autoescape off %}{{ graph }}{% endautoescape %};
        var id = 0;

        var treeNodes = {};
        console.log("DATA:", data);
        data.children[0].children.forEach(child => {
            toggleChildren(child);
            treeNodes[child.name] = child;
        });


        function tree(data) {
            tree = d3.layout.treelist()
                .childIndent(10)
                .nodeHeight(30);
            ul = d3.select("#tree-view").append("ul").classed("treelist", "true");

            render(data, data);
        }
        tree(data);
    </script>
{% endblock %}