body {
    background-color: #F6F6F6;
    line-height: 1.428571429;
    padding: 0;
    margin: 0;
}

input, select, button {
    padding: 5px;
}

form {
    margin: 0;
}

div.navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
    font-family: Consolas, serif;
    background-color: #3F87FE;
    box-shadow: 4px 4px 9px 0 #0000004a;
    padding: 12px;
    box-sizing: border-box;
    font-size: 14px;
    color: white;
}

div.item {
    vertical-align: middle;
    display: inline-block;
}

.view-container {
    position: fixed;
    top: 65px;
}

#tree-view {
    position: relative;
    z-index: 50;
    background-color: white;
    overflow-y: scroll;
    overflow-x: auto;
    width: 15vw;
    height: 90vh;
    box-shadow: 5px 3px 7px 1px #59595973;
    display: inline-block;
}

#graph-container {
    position: fixed;
    z-index: 25;
    top: 20px;
}

#graph-view {
    width: 100%;
    display: inline-block;
    position: relative;
    box-shadow: 5px 3px 7px 1px #59595973;
}

#bird-view {
    box-shadow: 4px 4px 9px 0 #0000004a;
    background-color: white;
    position: absolute;
    top: 80px;
    right: 50px;
}

/* Graph */
.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    stroke: #777;
    stroke-width: 1.5px;
}

.arrow {
    fill: #777;
    stroke-width: 0.2px;
}

.black {
    fill: rgb(41, 41, 41);
    stroke: rgb(41, 41, 41);
    stroke-width: 1px;
    font-size: 8px;
}

.blackSmall {
    fill: rgb(41, 41, 41);
    stroke: rgb(41, 41, 41);
    stroke-width: 0.1px;
    font-size: 2px;
}

.titleSmall {
    fill: rgb(255, 0, 2);
    stroke: rgb(255, 0, 2);
    stroke-width: 0.1px;
    font-size: 2px;
}

div.inline-block {
    display: inline-block;
}